<h1 id="create_a_new_article">CREATE A NEW ARTICLE</h1>

<% if @article.errors.any?  %>
	<h2>The following errors prevented the article from beeing saved!</h2>
	<ul>
		<% @article.errors.full_messages.each do |msg|  %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end  %>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>

	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.label :created_by %><br>
		<%= f.text_field :created_by %>
	</p>
	<p>
		<%= f.label :updated_by %><br>
		<%= f.text_field :updated_by %>
	</p>
	
	<p>
		<%= f.submit %>
	</p>
	
<% end  %>